/*! core.scss | Nephos | CSS Ninja */

/* ==========================================================================
Nephos core
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. CSS Imports
1. Resets and base setup
=============================================================================
***/

/* ==========================================================================
0. CSS Imports
========================================================================== */

@import "base/theme-default";
@import "base/colors";
@import "base/fonts";
@import "layout/sidebar";
@import "components/quickview";
@import "components/cards";
@import "layout/layout";
@import "pages/categories";
@import "pages/account";
@import "pages/cart";
@import "pages/orders";
@import "pages/product";
@import "pages/checkout";
@import "pages/auth";
@import "components/buttons";
@import "pages/search";
@import "layout/filters";
@import "components/checkboxes";
@import "components/forms";
@import "pages/invoice";
@import "components/pageloader";
@import "pages/elements";
@import "base/utils";
@import "layout/responsive";

$slick-font-path: "/assets/fonts/";
$slick-loader-path: "/assets/fonts/";

@import "../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../node_modules/slick-carousel/slick/slick-theme.scss";

/* ==========================================================================
1. Resets and base setup
========================================================================== */

a {
    color: $primary;
}
