<div class="cart-quickview">
    <div class="inner">
        <!-- Header -->
        <div class="quickview-header">
            <h2>Quick Cart</h2>
            <span id="close-cart-sidebar"><i data-feather="x"></i></span>
        </div>
        <!-- Total and checkout -->
        <div class="cart-action">
            <span class="cart-total">
                0.00
            </span>
            <a href="cart.html" class="button primary-button upper-button raised is-bold">
                <span>View Cart</span>
            </a>
        </div>
        <!-- Cart quickview body -->
        <div class="cart-body">
            <div class="empty-cart has-text-centered">
                <img src="assets/img/icons/line/bag.svg" alt="">
                <h3>Your cart is empty</h3>
                <p>Start by adding products to it</p>
                <a href="shop.html" class="button big-button rounded">Continue Shopping</a>
                <small>You can create your account later</small>
            </div>
        </div>
    </div>
</div>