<div class="cart-quickview">
    <div class="inner">
        <!-- Header -->
        <div class="quickview-header">
            <h2>Quick Cart</h2>
            <span id="close-cart-sidebar"><i data-feather="x"></i></span>
        </div>
        <!-- Total and checkout -->
        <div class="cart-action">
            <span class="cart-total">
                <small>$</small>1521,94
            </span>
            <a href="cart.html" class="button primary-button feather-button is-bold raised">
                <span>Open Cart</span>
            </a>
        </div>
        <!-- Cart quickview body -->
        <div class="cart-body">
            <ul class="shopping-cart-items">
                <!-- Item -->
                <li class="clearfix">
                    <img src="http://via.placeholder.com/250x250" alt="" />
                    <span class="item-meta">
                        <span class="item-name">Conqueror</span>
                        <span class="item-price">$385,00</span>
                    </span>
                    <span class="quantity">
                        <input class="input is-rounded" type="number" value="1">
                    </span>

                    <span class="remove-item">
                        <i data-feather="x" class="has-simple-popover" data-content="Remove from Cart" data-placement="top"></i>
                    </span>
                </li>
                <!-- Item -->
                <li class="clearfix">
                    <img src="http://via.placeholder.com/250x250" alt="" />
                    <span class="item-meta">
                        <span class="item-name">Gentleman</span>
                        <span class="item-price">$329,00</span>
                    </span>
                    <span class="quantity">
                        <input class="input is-rounded" type="number" value="1">
                    </span>

                    <span class="remove-item">
                        <i data-feather="x" class="has-simple-popover" data-content="Remove from Cart" data-placement="top"></i>
                    </span>
                </li>
                <!-- Item -->
                <li class="clearfix">
                    <img src="http://via.placeholder.com/250x250" alt="" />
                    <span class="item-meta">
                        <span class="item-name">Child Desk</span>
                        <span class="item-price">$278,47</span>
                    </span>
                    <span class="quantity">
                        <input class="input is-rounded" type="number" value="1">
                    </span>

                    <span class="remove-item">
                        <i data-feather="x" class="has-simple-popover" data-content="Remove from Cart" data-placement="top"></i>
                    </span>
                </li>
                <!-- Item -->
                <li class="clearfix">
                    <img src="http://via.placeholder.com/250x250" alt="" />
                    <span class="item-meta">
                        <span class="item-name">Design Shelf</span>
                        <span class="item-price">$529,47,00</span>
                    </span>
                    <span class="quantity">
                        <input class="input is-rounded" type="number" value="1">
                    </span>

                    <span class="remove-item">
                        <i data-feather="x" class="has-simple-popover" data-content="Remove from Cart" data-placement="top"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>